body {
    background-color: rgb(228, 206, 179);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: inlove;
    src: url(HoneyCute.otf);
}
#openme {
    position: relative;
    width: 400px;
    margin-bottom: 100px;
}

img {
    width: 100%;
    display: block;
    border-radius: 5%;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    font-family: inlove;
    font-size: x-large;
    transition: transform 1s ease;
    color: rgb(154, 64, 109);
}
button:hover{
    transform: translate(-50%, -50%) scale(1.5);
}